/* Mobile Navigation */
.mobile-nav__mobile-header.sticky--active {
  width: 100%;
  position: fixed;
  top: 0px;
  max-width: unset;
  z-index: 9;
  -webkit-box-shadow: -1px 9px 4px -4px rgba(0, 0, 0, .05);
  -moz-box-shadow: -1px 9px 4px -4px rgba(0, 0, 0, .05);
  box-shadow: -1px 9px 4px -4px rgba(0, 0, 0, .05);
}

#slideout-mobile-navigation,
#slideout-mobile-navigation .mobile-nav__mobile-header,
.mobile-nav__wrapper .c-accordion__second-level-wrapper {
  background-color: var(--background); !important;
}
#slideout-mobile-navigation .mobile-nav__mobile-header svg .hover-fill {
  fill: var(--text-color);;
}
#slideout-mobile-navigation .dropdown-arrow .icon-fill {
  stroke: var(--text-color); !important;
}
#slideout-mobile-navigation .mobile-nav__mobile-header svg:hover .hover-fill {
  fill: {{ hover_color }};
}
.mobile-nav__wrapper input::placeholder {
  color: var(--text-color); !important;
  opacity: 1;
}
.mobile-nav__wrapper input:-ms-input-placeholder {
  color: var(--text-color); !important;
  opacity: 1;
}
.mobile-nav__wrapper input::-ms-input-placeholder {
  color: var(--text-color); !important;
  opacity: 1;
}

.mobile-nav__wrapper .mobile-nav__logo-wrapper a,
.mobile-nav__wrapper .c-accordion__link {
  color: var(--text-color); !important;
}
.mobile-nav__wrapper .c-accordion--outer__wrapper {
  border-top: 1px solid var(--text-color); !important;
}
.mobile-nav__wrapper .c-accordion__top-level  {
  border-bottom: 1px solid var(--text-color); !important;
}
.mobile-nav__wrapper .c-accordion.c-accordion--mobile-nav li:not(.c-accordion__panel) {
  border-color: var(--text-color); !important;
}

.mobile-nav__mobile-header .header__cart-links--login {
  display: none;
}

.mobile-nav__mobile-header .header__cart-links--account {
  display: none;
}

.mobile-nav__mobile-header .header__cart-links--logout {
  display: none;
}

.mobile-nav__wrapper .c-accordion__link, .mobile-nav__wrapper .dropdown-arrow svg {
  color: var(--text-color);
}

.mobile-nav__wrapper .c-accordion.c-accordion--mobile-nav .c-accordion__panel {
  padding: 0;
}

.mobile-nav__wrapper .c-accordion__top-level .c-accordion__link, .mobile-nav__wrapper .c-accordion__second-level .c-accordion__link {
  font-size: var(--font-size);
  font-family: var(--nav-family);
  font-style: var(--nav-style);
  font-weight: var(--nav-weight);
  text-transform: var(--nav-transform);
  line-height: 2;
  letter-spacing: var(--nav-spacing);
}

.mobile-nav__wrapper .c-accordion__third-level .c-accordion__link {
  font-size: var(--font-size);
  font-family: var(--nav-family);
  font-style: var(--nav-style);
  font-weight: var(--nav-weight);
  text-transform: var(--nav-transform);
  line-height: 2;
  letter-spacing: var(--nav-spacing);
}

.mobile-nav__wrapper .c-accordion--outer__wrapper {
  border-top: 0.8px solid var(--dotted-color);
}

.mobile-nav__wrapper input::placeholder {
  color: var(--text-color);
  opacity: 1;
}

.mobile-nav__wrapper input:-ms-input-placeholder {
  color: var(--text-color);
  opacity: 1;
}

.mobile-nav__wrapper input::-ms-input-placeholder {
  color: var(--text-color);
  opacity: 1;
}

.mobile-nav__mobile-header .mobile-nav__logo-wrapper a {
  font-size: calc(var(--font-size) + 1px) !important;
  display: inline-block !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.mobile-nav__mobile-header a.mobile-nav__text-logo {
  padding: 0 !important;
  height: auto !important;
  line-height: 30px !important;
}

.mobile-nav__mobile-header button {
  padding: 0 !important;
  height: 30px !important;
  line-height: 30px !important;
}

/* Foodie Custom */
.mobile-nav__wrapper .c-accordion__second-level-wrapper .c-accordion__second-level{ 
  padding-left: 2.75rem;
}

.mobile-nav__wrapper .c-accordion__second-level-wrapper .c-accordion__second-level a {
  text-transform: initial !important;
}

@media screen and (max-width: 767px) {
  #mobile-menu {
    grid-column-gap: 8px;
  }
}

/* ---- Mobile nav v5.2.2 overrides #407 ---- */

.mobile-nav__mobile-menu-wrapper .c-accordion__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}

.mobile-nav__mobile-menu-wrapper a.c-accordion__link {
  flex: 0 0 auto;
}

.mobile-nav__mobile-menu-wrapper button.dropdown-arrow {
  text-align: right;
  flex: 1 0 auto;
}


/* ---- V5.2.2 Add localization to Mobile nav ---- */

/* ---- Localization Styles ---- */
.mobile-nav__wrapper .disclosure {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mobile-nav__wrapper .disclosure__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  text-transform: uppercase !important;
  font-size: var(--nav-size);
  flex-basis: 80%;
  justify-content: start;
}

.mobile-nav__wrapper .disclosure__list-container {
  padding: var(--space-3);
  position: relative;
  max-height: 320px;
  z-index: 2;
}

.mobile-nav__wrapper ul.disclosure__list {
  list-style: none;
  height: 290px;
  overflow-y: auto;
  overflow-x: hidden;
}

.mobile-nav__wrapper .disclosure__list a.disclosure__link:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .mobile-nav__wrapper .disclosure__list {
    right: unset;
    left: 0;
  }
}

.mobile-nav__wrapper .disclosure__item {
  border-bottom: 0 !important;
  white-space: nowrap;
  text-align: left;
  width: 280px;
  margin: 0 0 var(--space-1) 0;
  padding: 0 !important;
}

.mobile-nav__wrapper .disclosure__item a.disclosure__link {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  line-height: 2;
  font-size: var(--font-size);
  text-transform: none !important;
  letter-spacing: unset !important;
  margin: 0;
}

.mobile-nav__wrapper .disclosure__item a.disclosure__link > span {
  letter-spacing: unset !important;
}

.mobile-nav__wrapper .localization-form__currency {
  font-size: 80%;
}

div#MobileNavLanguageList {
  width: 100%;
}

div#MobileNavLanguageList ul.disclosure__list {
  height: 140px;
}

div#MobileNavCountryList {
  width: 100%;
}

/* Noscript Localization Form */
.no-js .mobile-nav__wrapper .localization-selector {
  color: var(--text-color) !important;
  height: 30px;
  width: 100% !important;
  min-width: 40px !important;
}
.no-js .mobile-nav__wrapper .localization-form__select {
  border: 1px solid var(--text-color) !important;
}
.no-js .mobile-nav__wrapper .localization-form__noscript-btn {
  border-top: 1px solid var(--text-color) !important;
  border-right: 1px solid var(--text-color) !important;
  border-bottom: 1px solid var(--text-color) !important;
  height: 32px !important;
  vertical-align: middle;
  padding: 0 4px !important;
}
.no-js .mobile-nav__wrapper .localization-form__noscript-btn:hover {
  border-top: 1px solid var(--text-color) !important;
  border-right: 1px solid var(--text-color) !important;
  border-bottom: 1px solid var(--text-color) !important;
}
.no-js .mobile-nav__wrapper .localization-form__noscript-btn:hover svg .hover-fill {
  fill: var(--text-color) !important;
}

/* ---- Country flags ---- */
span.country--flag {
  border-radius: 50%;
  overflow: hidden;
  height: 20px;
  width: 20px;
  flex: 0 0 20px;
  margin-right: var(--space-1);
  display: flex;
  align-items: center;
}

span.country--flag img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 32px;
}